<div class="title">
  <h1>Data Binding workshop!</h1>
</div>
<hr>

<div class="form">
  Enter Your Name :<input type="text" class="input" value="{{name}}"/>
  <button (click)="greet()" class="button">Greet Me</button>
</div>

<h1 [innerText]="title" class="store"></h1>

<div class="form">
  Search for item :<input [(ngModel)]="item" class="input">
  <button (click)="searchItems()" class="button">Search</button><br/>
  <br>
  Total Items found for {{searchItem}} is {{numItems}}
  <button [disabled]="isDisabled">Add to Cart</button>
</div>
