.title{
  text-align: left;
  font-size: 20px;
  font-style: oblique;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: indigo;
}
.form{
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  background-color:azure;
  border-radius: 4px;
  box-sizing: border-box;
}
.json{
  color: green;
  font-size: 20px;
}
