<div class="title">
  <h1>Friends workshop!</h1>
</div>
<hr>
<form [formGroup] = "friendForm">
  <div class="form">
    <label>FriendName :</label>
    <input [ngModel]="friend.name" formControlName="FriendName" class="input">
  </div>
  <div class="form">
    <label> Email :</label>
    <input [ngModel]="friend.email" formControlName="FriendEmail" class="input">
  </div>
  <div class="form">
    <label> Age :</label>
    <input [ngModel]="friend.age" formControlName="FriendAge" class="input">
  </div>

  <div>
    <div>
      <button (click)="changeDefaultName('CS')" class="button">Click to change the name</button>
    </div>
    <div>
      <button [disabled]="friendForm.invalid" (click)="onSubmit(friendForm)" class="button">Submit to Data-Model</button>
    </div>
  </div>
</form>

<p class="json"><b style="color: brown;" >Retrieve values from the form :</b><br/>
  <br>
  {{ friendForm.value | json}} <br/>
  {{ friendForm.get('FriendName')?.value}} <br/>
  {{ friendForm.get('FriendEmail')?.value}} <br/>
  {{ friendForm.get('FriendAge')?.value}} <br/>
</p>

<!--
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let f of friends">
      <td>{{ f.name }}</td>
      <td>{{ f.email }}</td>
      <td>{{ f.age }}</td>
    </tr>
  </tbody>
</table>
-->
