<div class="shopname">
  <h1>Awesome Shop!</h1>
</div>

<hr>

<form [formGroup]="coffee">
  <div class="form">
    Name: <input formControlName="namecoffee" class="input" placeholder="กรุณากรอกชื่อ">
    <span style="color: red;  font-size: 15px;" *ngIf="coffee.hasError('minlength','namecoffee')">กรุณากรอกชื่อของคุณ อย่างน้อย {{coffee.get('namecoffee')?.errors?.['minlength'].requiredLength}} ตัว, ต้องการอีก {{coffee.get('namecoffee')?.errors?.['minlength'].requiredLength - coffee.get('namecoffee')?.errors?.['minlength'].actualLength}} ตัว</span>
    <br>
    Email: <input formControlName="emailcoffee" class="input" placeholder="กรุณากรอกอีเมล์">
    <span style="color: red; font-size: 15px;" *ngIf="coffee.get('emailcoffee')?.errors?.['email']">กรุณากรอกอีเมล์</span>
    <br>
    Phone: <input formControlName="phonecoffee" class="input" placeholder="กรุณากรอกเบอร์โทรศัพท์">
    <span style="color: red; font-size: 15px;" *ngIf="coffee.hasError('minlength','phonecoffee')">กรุณากรอกเบอร์โทรศัพท์ให้ครบ {{coffee.get('phonecoffee')?.errors?.['minlength'].requiredLength}} ตัวเลข, ต้องการอีก {{coffee.get('phonecoffee')?.errors?.['minlength'].requiredLength - coffee.get('phonecoffee')?.errors?.['minlength'].actualLength}} ตัวเลข</span>
  </div>

  <div>
    <select class="option">
      <option *ngFor="let Coffee of Choosecoffee" value="Coffee.value">{{Coffee.viewValue}}</option>
    </select>
  </div>

  <div class="radio">
    <p style="margin: 10px 5px;">Hot or Cold ?</p>
    <input type="radio" name="select" value="Hot" id="Hot">
    <label for="Hot">Hot</label>
    <br>
    <input type="radio" name="select" value="Cold" id="Cold">
    <label for="Cold">Cold</label>
  </div>

  <div>
    <input type="checkbox" name="Order" id="Order">
    <label for="Order" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Send me a text message when my order is ready</label>
  </div>

  <button  type="order" class="order">Place order</button>

  <hr>

  <h1 class="confirm">Order Confirmation</h1>

  <h3 class="display"><a href="" style="text-decoration: none;">Display your confirmation message</a></h3>

  <h3 class="display">Data submitted: <a href="" style="text-decoration: none;">Display the submitted order</a></h3>

</form>
