<div class="shopname">
  <h1>SPK Shop!</h1>
</div>

<p class="name">{{this.coffee.value.namecoffee}}</p>

<hr>

<form [formGroup]="coffee">
  <div class="form">
    Name: <input formControlName="namecoffee" class="input" placeholder="กรุณากรอกชื่อ">
    <span style="color: red;  font-size: 15px;" *ngIf="coffee.hasError('minlength','namecoffee')">กรุณากรอกชื่อของคุณ อย่างน้อย {{coffee.get('namecoffee')?.errors?.['minlength'].requiredLength}} ตัว, ต้องการอีก {{coffee.get('namecoffee')?.errors?.['minlength'].requiredLength - coffee.get('namecoffee')?.errors?.['minlength'].actualLength}} ตัว</span>
    <br>
    Email: <input formControlName="emailcoffee" class="input" placeholder="กรุณากรอกอีเมล์">
    <span style="color: red; font-size: 15px;" *ngIf="coffee.get('emailcoffee')?.errors?.['email']">กรุณากรอกอีเมล์</span>
    <br>
    Phone: <input formControlName="phonecoffee" class="input" placeholder="กรุณากรอกเบอร์โทรศัพท์">
    <span style="color: red; font-size: 15px;" *ngIf="coffee.hasError('minlength','phonecoffee')">กรุณากรอกเบอร์โทรศัพท์ให้ครบ {{coffee.get('phonecoffee')?.errors?.['minlength'].requiredLength}} ตัวเลข, ต้องการอีก {{coffee.get('phonecoffee')?.errors?.['minlength'].requiredLength - coffee.get('phonecoffee')?.errors?.['minlength'].actualLength}} ตัวเลข</span>
  </div>

  <div>
    <select formControlName="drinkcoffee" class="option">
      <option value="" disabled selected>What would you like to drink?</option>
      <option value="Cappuccino">Cappuccino</option>
      <option value="Espresso">Espresso</option>
      <option value="Latte">Latte</option>
    </select>
    <span style="color: red;" *ngIf="coffee.get('drinkcoffee')?.errors?.['required']"></span>
  </div>

  <div class="radio">
    <p style="margin: 10px 5px;">Hot or Cold ?</p>
    <input type="radio" id="Hot" value="Hot" formControlName="tempPreference" required>
    <label for="Hot">Hot</label><br>
    <input type="radio" id="Cold" value="Cold" formControlName="tempPreference" required>
    <label for="Cold">Cold</label><br>
    <span style="color: red;" *ngIf="coffee.get('tempPreference')?.errors?.['required']"></span>
  </div>

  <div>
    <input type="checkbox" id="sendText" value="true" formControlName="sendText">
    <label for="sendText" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Send me a text message when my order is ready</label>
    <span style="color: red;" *ngIf="coffee.get('sendText')?.errors?.['required']"></span>
  </div>

  <button  type="submit" class="order" (click)="submitorder()" [disabled]="!coffee.valid">Place order</button>

  <hr>

  <h1 class="confirm">Order Confirmation</h1>
  <h3 id="data" class="showorder">Your order will show here when you press » Place order «</h3>
  <h4 id="time" ></h4>

</form>
